.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.inputs {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}

.inputs input{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-family: 'Open Sans';
    font-size: var(--body-fs);
    color: white;
}
.inputs input::placeholder {
    color: white;    
}
button[type='submit'] {
    background-color: var(--button-color);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: var(--body-fs);
    font-weight: 600;
    padding: .5em 5em;
    border-radius: 3rem;
    margin-top: 5em;
    cursor: pointer;
}
.hints {
    margin-top: auto;
    margin-bottom: 2em;
    font-size: var(--body-big-fs);
    font-weight: 500;
}
/* Media query that moves up the sign up text when viewed in long screen */
@media (max-aspect-ratio:1/2) {
    .hints{
        margin-top: 2em;
    }
}
.hints a {
    color: var(--button-color);
    text-decoration: none;
}