.container {
    flex-grow: 1;
    display: grid;
    place-items: center;
}
.container svg {
    max-width: 100px;
    transition: all 500ms;
}
.container:hover svg {
    transform: rotate(180deg) scale(1.2);
    /* max-width: 150px; */
}