.item {
    border: 2px solid var(--button-color);
    border-radius: 5px;
    background-color: white;
    display: grid;
    place-items: center;
}
.item label {
    /* Set to stretch because I want more clickable area */
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.addButtonImage {
    max-height: 100px;
}
.uploaded-image-cell {
    justify-self: stretch;
    align-self: stretch;
    background-image: url('https://tinyurl.com/4whf4vaj');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
