.item {
    border: 2px solid var(--button-color);
    border-radius: 5px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;

}
.item label {
    /* Set to stretch because I want more clickable area */
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.addButtonImage {
    max-height: 100px;
}
.uploaded-image-cell {
    justify-self: stretch;
    align-self: stretch;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.delete-button {
    width: 1.5em;
    height: 1.5em;
    border: none;
    background-color: red;
    color: white;
    outline: 2px solid white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(75%,-75%);
    opacity: 0.5;
    transition: opacity 250ms;
    cursor: pointer;
}
.uploaded-image-cell:hover {
    cursor: pointer;
}
.uploaded-image-cell:hover + .delete-button,
.delete-button:hover
{
    opacity: 1;
    cursor: pointer;
}