html {
  min-height: 100%;
}
:root{
  --h2-fs:clamp(1.5rem, 6vw, 3rem);
  --body-big-fs:clamp(1.2rem, 3vw, 1.5rem);
  --body-fs:clamp(1rem, 3vw, 1.2rem);
  --button-color: rgb(255,230,94)
}
body {
  background-image: url('/public/assets/Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.App {
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: var(--h2-fs)
}

